<div class="login_page">
  <div class="row m-0 h-100">
    <div class="col-md-5 p-0 h-100 d-flex flex-column justify-content-between">
      <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="mb_80 me-auto">
          <img src="assets/images/Logo.png" alt="HMS Logo">
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="text-center m-0 login_form_container">
          <h1 class="fw_bold welcome_txt text_black mb_5">Welcome</h1>
          <p class="font_16 fw_med login_txt mb_30">Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod</p>
          <div class="mb_30">
            <label class="font_14 fw_med text_black mb_5 text-left w-100 d-inline-flex">Username</label>
            <input 
              type="text" 
              class="form-control" 
              placeholder="Username"
              formControlName="email"
              [class.error]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
          </div>
          <div class="mb_3">
            <label class="font_14 fw_med text_black mb_5 text-left w-100 d-inline-flex">Password</label>
            <input 
              type="password" 
              class="form-control" 
              placeholder="Password"
              formControlName="password"
              [class.error]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
          </div>
          <div *ngIf="errorMessage" class="alert alert-error mb_21">
            {{ errorMessage }}
          </div>
          <div class="d-flex justify-content-end mb_21" *ngIf="!errorMessage">
            <a href="" class="font_12 text_black fw_reg">Forgot password?</a>
          </div>
          <button type="submit" class="btn_primary" [disabled]="loginForm.invalid || isLoading">
            <span *ngIf="!isLoading">Login</span>
            <span *ngIf="isLoading">Logging in...</span>
          </button>
        </form>
      </div>
      <div class="d-flex align-items-center justify-content-between mr_30">
        <a href="https://enchanting-fox-f51b4a.netlify.app/" class="text_black font_14 fw_reg">Product by <span class="text-red fw_semi">StayVelle</span></a>
        <span class="font_14 fw_reg text_black">Copyright (c) All Rights Reserved. HMS</span>
      </div>
    </div>
    <div class="col-md-7 h-100 p-0">
      <div class="position-relative w-100 h-100">
        <img src="assets/images/login_right_img.png" alt="Hotel Reception" class="login_img d-block">
        <div class="d-flex flex-column banner_img_txt">
          <h3 class="banner_hdg fw_semi text_white mb_12">Hotel Management System</h3>
          <span class="banner_hdg_blw_txt text_white fw_reg">Your one step for Hotel Booking</span>
        </div>
      </div>
    </div>
  </div>
</div>
